body {
  margin: 0;
  background-color: rgb(244, 244, 244);
  font-family: 'Poppins', sans-serif;
}

.product__item {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 23px;
  padding: 100px 30px;
  border: 1px solid white;
}

.product__item[data-color="blue"] {
  background: #00aeef;
}

.product__item[data-color="yellow"] {
  background: #f9c606;
}

.product__item[data-color="grey"] {
  background: #5d6e85;
}

.product__item[data-color="green"] {
  background: #85bc3c;
}

.product__item[data-color="brown"] {
  background: #a77436;
}

.product__item--info {
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.product__item--arrow {
  display: block;
}

.search {
  padding: 30px;
  text-align: center;
}

.search__input {
  margin-top: 40px;
  width: 60%;
  border: none;
  border-bottom: 2px solid rgb(181, 181, 181);
  padding: 5px 0;
  font-size: 20px;
  background: transparent;
  color: rgb(130, 126, 126);
}

.search__input::placeholder {
  color: rgb(181, 181, 181);;
}

.search__input:focus {
  outline: none;
  border-bottom-color: rgb(130, 126, 126);
}

.search {
  margin-bottom: 20px;

}
.search__info {
  color: rgb(149, 149, 149);
  font-size: 20px;
  margin-top: 20px;
}

.products__empty {
  font-size: 22px;
  color: rgb(149, 149, 149);
}

@media all and (max-width: 576px) {
  .product__item {
    padding: 20px 10px;
    font-size: 1rem;
  }

  .product__item--info {
    font-size: 1rem;
  }

  .search__input{
    width: 90%;
    margin-top: 20px;
  }

  .search__title {
    font-size: 1.2rem;
  }

  .search__info {
    font-size: 1rem;
  }

  .products__empty {
    font-size: 1rem
  }
}