body {
  margin: 0;
  background-color: rgb(244, 244, 244);
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 23px;
  padding: 100px 30px;
  border: 1px solid white;
}

li[data-color="blue"] {
  background: #00aeef;
}

li[data-color="yellow"] {
  background: #f9c606;
}

li[data-color="grey"] {
  background: #5d6e85;
}

li[data-color="green"] {
  background: #85bc3c;
}

li[data-color="brown"] {
  background: #a77436;
}

li span {
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
font-size: 24px;
font-weight: bold;
}

.input-container {
  padding: 30px;
  text-align: center;
}

input {
  width: 60%;
  border: none;
  border-bottom: 2px solid rgb(181, 181, 181);
  padding: 5px 0;
  font-size: 20px;
  background: transparent;
  color: rgb(130, 126, 126);
}
input::placeholder {
  color: rgb(181, 181, 181);;
}

input:focus {
  outline: none;
  border-bottom-color: rgb(130, 126, 126);
}

.input-container {
  margin-bottom: 20px;

}
.input-container p {
  color: rgb(149, 149, 149);
  font-size: 20px;
}

.none-result {
  font-size: 22px;
  color: rgb(149, 149, 149);
}